button {
  @include flex();
  height: 44px;
  width: 110px;

  font-size: var(--text-size);
  line-height: 1.33;
  text-transform: uppercase;

  background-color: transparent;
  border: 1px solid var(--basic-text-color);
  border-radius: 5px;

  &.active {
    background-color: var(--accent-color);
    border-color: transparent;
  }

  @include tablet {
    width: 125px;
  }
  @include desktop {
    width: 136px;
  }
}
