button {
  @include flex();
  height: 44px;
  width: 130px;

  font-size: var(--text-size);
  line-height: 1.33;
  text-transform: uppercase;

  background-color: transparent;
  border: 1px solid var(--basic-text-color);
  border-radius: 5px;

  &.active {
    background-color: var(--accent-color);
    border-color: transparent;
    box-shadow: 0px 0px 25px 3px rgba(255, 107, 1, 0.6);
  }

  @include tablet {
    width: 148px;
  }
  @include desktop {
    width: 148px;
  }
}
