h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea {
  resize: none;
  padding: 0;
}

button {
  font-family: inherit;
  cursor: pointer;
}

a {
  text-decoration: none;
}
