p,
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
  color: currentColor;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
button {
  padding: 0;
  font-family: inherit;
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
svg {
  fill: currentColor;
}
