:root {
  /* Text colors */
  --text-color: #000000;
  --accent-text-color: #ff6b08;
  --light-text-color: #ffffff;

  /* Bg colors */
  --accent-color: #ff6b08;

  --text-size: 12px;
  --heading-size: 20px;
}
