<footer class="footer">
  <div class="container">
    <p class="footer__text footer__text--top">
      &copy 2023 | All Rights Reserved |
    </p>
    <p class="footer__text footer__text--bottom">
      Developed with
      <svg class="footer__icon">
        <use href="./images/sprite.svg#icon-heart"></use>
      </svg>
      by<span class="footer__team" data-footer-modal-open>GoIT Students</span>
    </p>
  </div>
  <div class="footer-modal__overlay is-closed" data-footer-modal>
    <div class="footer-modal">
      <button type="button" class="footer-modal__btn" data-footer-modal-close>
        <svg class="footer-modal__icon">
          <use href="./images/sprite.svg#icon-close"></use>
        </svg>
      </button>
      <div class="footer-modal__team">
        <h2 class="team__title">Team "Moviegoers Squad"</h2>
        <ul class="team__list">
          <li class="team__card">
            <div class="team__wrap">
              <img
                src="./images/team-photo/photo-KlyosovaA.jpeg"
                alt="photo"
                class="team__photo"
              />
            </div>
            <div class="team__info">
              <a
                href="https://github.com/LeniFraud"
                target="_blank"
                class="team__link"
                >Anastasiia Klyosova</a
              >
              <!-- <p>Кльосова Анастасія</p> -->
              <p class="team__text">Team lead</p>
            </div>
          </li>
          <li class="team__card">
            <div class="team__wrap">
              <img
                src="./images/team-photo/photo_YarkovskaD.jpeg"
                alt="photo"
                class="team__photo"
              />
            </div>
            <div class="team__info">
              <a
                href="https://github.com/daryark"
                target="_blank"
                class="team__link"
                >Dasha Yarkovska</a
              >
              <!-- <p>Ярковська Дар’я</p> -->
              <p class="team__text">Scrum master</p>
            </div>
          </li>
          <li class="team__card">
            <div class="team__wrap">
              <img
                src="./images/team-photo/photo-TiankinaO.jpeg"
                alt="photo"
                class="team__photo"
              />
            </div>
            <div class="team__info">
              <a
                href="https://github.com/Aleksayshn"
                target="_blank"
                class="team__link"
                >Oleksandra Tiankina</a
              >
              <!-- <p>Тянькіна Олександра</p> -->
              <p class="team__text">Developer</p>
            </div>
          </li>
          <li class="team__card">
            <div class="team__wrap">
              <img
                src="./images/team-photo/photo-ChernetskaK.png"
                alt="photo"
                class="team__photo"
              />
            </div>
            <div class="team__info">
              <a
                href="https://github.com/KaterynaChernetska"
                target="_blank"
                class="team__link"
                >Kateryna Chernetska</a
              >
              <!-- <p>Чернецька Катерина</p> -->
              <p class="team__text">Developer</p>
            </div>
          </li>
          <li class="team__card">
            <div class="team__wrap">
              <img
                src="./images/team-photo/photo-AtiskovaA.jpeg"
                alt="photo"
                class="team__photo"
              />
            </div>
            <div class="team__info">
              <a
                href="https://github.com/Atiskova"
                target="_blank"
                class="team__link"
                >Anna Atiskova</a
              >
              <!-- <p>Атіскова Анна</p> -->
              <p class="team__text">Developer</p>
            </div>
          </li>
          <li class="team__card">
            <div class="team__wrap">
              <img
                src="./images/team-photo/photo-KozhokarY.png"
                alt="photo"
                class="team__photo"
              />
            </div>
            <div class="team__info">
              <a
                href="https://github.com/YanaKozhokar"
                target="_blank"
                class="team__link"
                >Yana Kozhokar</a
              >
              <!-- <p>Кожокар Яна</p> -->
              <p class="team__text">Developer</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
