<header class="header-library">
  <div class="container">
    <nav class="navigation">
      <a class="logo__link" href="./index.html">
        <svg class="logo__icon" width="24" height="24">
          <use href="../src/images/sprite.svg#icon-logo"></use>
        </svg>
        <p class="logo__text">Filmoteka</p>
      </a>
      <ul class="site-nav">
        <li><a class="site-nav__link" href="./index.html">home</a></li>
        <li>
          <a class="site-nav__link current" href="./library.html">my library</a>
        </li>
      </ul>
    </nav>
    <ul class="header__filter">
      <li>
        <button class="button-library watched" type="button">watched</button>
      </li>
      <li>
        <button class="button-library queue" type="button">queue</button>
      </li>
    </ul>
  </div>
</header>
