<div class="modal-backdrop is-hidden" data-modal>
  <div class="modal">
    <div class="modal__container">
      <button class="modal__btn-close" type="button" data-modal-close>
        <svg class="modal__btn-close-icon" width="30" height="30">
          <use href="./images/icons.svg#icon-modal-close"></use>
        </svg>
      </button>
      <div class="modal-wrap">
        <div class="modal-movie-info">
          <div class="modal__buttons">
            <button
              class="btn-accent btn js-watched-btn"
              type="button"
            ></button>
            <button class="btn-usual btn js-queue-btn" type="button"></button>
            <button class="btn trailer-btn" type="button">Watch trailer</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
