<div class="modal-backdrop" data-modal>
  <div class="modal">
    <div class="modal__container">
      <button class="modal__btn-close" type="button" data-modal-close>
        <svg class="modal__btn-close-icon" width="30" height="30">
          <use href="./images/icons.svg#icon-modal-close"></use>
        </svg>
      </button>
      <div class="modal__poster">
        <img
          class="modal__poster-img"
          src="./images/poster-mob.jpg"
          alt="Poster"
        />
      </div>
      <div class="modal__description">
        <p class="modal__title">A FISTFUL OF LEAD</p>
        <ul class="modal__info">
          <li class="modal__characteristic"></li>
          <li class="modal__characteristic"></li>
          <li class="modal__characteristic"></li>
          <li class="modal__characteristic"></li>
        </ul>
      </div>
    </div>
  </div>
</div>
