.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f7f7f7;
}

.footer__text {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   gap: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  color: #545454;

  &--top {
    margin-bottom: 10px;
  }

  &--bottom {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.footer__icon {
  //   display: block;
  width: 14px;
  height: 13px;
  margin-right: 10px;
  margin-left: 10px;
  fill: var(--accent-color);
}

.footer__team {
  margin-left: 5px;
  text-decoration: underline;
  cursor: pointer;
}

.footer-modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  padding: 20px;
  opacity: 1;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.25);
  transition: opacity var(--time) var(--function),
    visibility var(--time) var(--function);
}

.is-closed {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.footer-modal {
  position: relative;
  padding: 20px;
  text-align: center;
  background-color: #ffffff;
  //   border-radius: 10px;
  opacity: 1;
  transform: scale(1);
  transition: opacity var(--time) var(--function),
    transform var(--time) var(--function);

  //   @include adaptive(tab-min) {
  //     max-width: 568px;
  //     margin: 0 auto;
  //   }

  //   @include adaptive(desk) {
  //     position: absolute;
  //     top: 50%;
  //     left: 50%;
  //     padding: 32px;
  //     transform: translate(-50%, -50%) scale(1);
  //   }

  //   .is-closed & {
  //     opacity: 0;
  //     transform: scale(1.2);

  //     @include adaptive(desk) {
  //       transform: translate(-50%, -50%) scale(1.2);
  //     }
  //   }
}

.footer-modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  @include flex;
  width: 30px;
  height: 30px;
  color: #000000;
  background-color: transparent;
  border: none;

  //   @include adaptive(tab-min) {
  //     @include sizes(24px, 24px);
  //   }
}

.footer-modal__icon {
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  stroke: currentColor;

  //   @include adaptive(tab-min) {
  //     @include sizes(24px, 24px);
  //   }
}
