.gallery{
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
    gap:20px;

    @media screen and (min-width: 768px) {
        padding-top: 60px;
        padding-bottom: 60px;
        gap:32px;
    }

    @media screen and (min-width: 1200px) {
        row-gap: 16px;
        column-gap: 32px;
   
      }
}

// .movie_image{

// }


.movie_title {

font-size: 12px;
line-height: calc(16/12);
text-transform: uppercase;

}