.header {
  height: 230px;
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: linear-gradient(#00000056, #00000056),
    url(../../src/images/header-bg-1xmobile-min.jpg);

  @include retina {
    background-image: linear-gradient(#00000056, #00000056),
      url(../../src/images/header-bg-2xmobile-min.jpg);
  }

  @include tablet {
    height: 216px;
    background-image: linear-gradient(#00000056, #00000056),
      url(../../src/images/header-bg-1xtablet-min.jpg);
    @include retina {
      background-image: linear-gradient(#00000056, #00000056),
        url(../../src/images/header-bg-2xtablet-min.jpg);
    }
  }

  @include desktop {
    background-image: linear-gradient(#00000056, #00000056),
      url(../../src/images/header-bg-1xdesktop-min.jpg);
    @include retina {
      background-image: linear-gradient(#00000056, #00000056),
        url(../../src/images/header-bg-2xdesktop-min.jpg);
    }
  }
}

.navigation {
  @include flex($justify-content: space-between, $align-items: center);
}

.site-nav {
  margin-top: 40px;
  @include flex($justify-content: center, $align-items: center);
  gap: 40px;
}

.logo__link {
  margin-top: 40px;
  @include flex($justify-content: center, $align-items: center);
}

.logo__text {
  display: none;

  @include tablet {
    display: block;
    font-size: 30px;
    line-height: calc(35 / 30);
    color: #ffffff;
    margin-left: 8px;
  }

  @include desktop {
    margin-left: 10px;
  }
}

.site-nav__link {
  font-size: 12px;
  line-height: calc(14 / 12);
  color: #ffffff;
  text-transform: uppercase;
  position: relative;

  &::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: -4px;

    display: block;
    width: 100%;
    height: 3px;
    border-radius: 1px;
    background-color: #ff001b;

    transform: scaleX(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover::after,
  &:focus::after {
    transform: scaleX(1);
  }
}

.current {
  &::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: -4px;

    display: block;
    width: 100%;
    height: 3px;
    border-radius: 1px;
    background-color: #ff001b;

    transform: scaleX(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.header__form {
  margin-top: 54px;
  display: flex;
  justify-content: center;
}

.form__input {
  border: 0px;
  border-bottom: 1px solid #ffffff;
  background-color: transparent;
  min-width: 260px;
  outline: transparent;

  color: #ffffff;

  &::placeholder {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: calc(16 / 14);
  }

  @include tablet {
    min-width: 316px;
  }

  @include tablet {
    min-width: 374px;
  }
}

.form__btn {
  background-color: transparent;
  border: 0px;
  border-bottom: 1px solid #ffffff;
  border-radius: 0px;
  width: 20px;
  height: 20px;
  padding: 2px;
}

.header__form-warning {
  margin-top: 16px;
  color: #ff001b;
  font-size: 14px;
  font-weight: 400;
  line-height: calc(16 / 14);

  @include mobile {
    margin-top: 20px;
    text-align: center;
  }
}
