.site-nav__link.login__btn,
.site-nav__link.logout__btn {
  font-family: inherit;
  font-weight: inherit;
  padding: 0;
  border: none;
  width: auto;
  height: auto;
}


.site-nav__link.login__btn::before {
  content: '';
  position: absolute;
  left: 0;
  top: 20px;
  background: transparent;
  height: 50%;
  width: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(8px);
  transition: 1s ease;
}

.site-nav__link.login__btn:hover::before,
.site-nav__link.login__btn:focus::before {
  background: var(--light-text-color);
  top: 30px;
}

// Sign In Modal
.login-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: var(--cl-modal-overlay_bg-color);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms var(--function);

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;

  }

  &.is-hidden .modal-container {
    transform: translate(-10%, -90%) scale(0.8);
  }
}

.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 280px;
  padding: 40px 12px;
  border-radius: 5px;
  background-color: var(--light-text-color);
  z-index: 3;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--function), visibility 250ms var(--function);
  box-shadow: var(--cl-modal-text) 0px 3px 8px;

  @include tablet {
    max-width: 600px;
  }
}

.modal-img {
  width: 40%;
  margin-bottom: 20px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;

  &.is-hidden {
    display: none;
  }
}

.modal-input {
  padding: 10px 30px;
  margin-bottom: 20px;
  border: 1px solid var(--cl-modal-text);
  border-radius: 5px;
  width: 100%;
  outline: none;
  background-color: transparent;

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }

}

.modal-btn {
  padding: 0;
  margin: 0;
  display: inline-block;
  min-width: 110px;
  min-height: 44px;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid var(--basic-text-color);
  border-radius: 5px;
  transition: 250ms var(--function);

  &:hover,
  &:focus {
    background: var(--accent-color);
    border-color: var(--accent-color);
    color: var(--light-text-color);
  }

  @include tablet {
    min-width: 125px;
  }

  @include desktop {
    min-width: 136px;
  }

  &[data-action="toggle"] {
    border: none;
    text-decoration: underline;
    background-color: transparent;

    &:hover,
    &:focus {
      border-color: var(--accent-color);
      color: var(--accent-color);
      text-shadow: rgb(255, 107, 8, 0.4) 0px 3px 8px;
    }
  }
}

.modal-text {
  font: inherit;
  color: var(--accent-color);
  margin-top: 20px;
  margin-bottom: 8px;
}

.close-modal {
  position: absolute;
  right: 16px;
  top: 16px;
  width: 14px;
  height: 14px;
  opacity: 0.7;
  background-color: var(--light-text-color);
  border: none;
  cursor: pointer;
  transition: 250ms ease-in;

  &:hover {
    opacity: 1;
    transform: scale(1.1);
  }

  &::before,
  &::after {
    position: absolute;
    left: 6px;
    top: -2px;
    content: ' ';
    height: 19px;
    width: 2px;
    background-color: var(--basic-text-color);
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}