.modal-backdrop {
  position: fixed;
  inset: 0;
  display: flex;
  padding: 20px;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.25);

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}

.modal {
  position: relative;
  max-width: 440px;
  margin: auto;
  padding: 48px 20px 40px 20px;
  background-color: #ffffff;

  @include tablet {
    min-width: 704px;
    padding: 40px 60px 40px 36px;
  }

  @include desktop {
    padding: 40px 12px;
    min-width: 850px;
  }
}

.modal__container {
  display: flex;
  // justify-content: center;
  flex-direction: column;
}

.modal__btn-close {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-top: 9px;
  margin-right: 9px;
  border: 1px solid transparent;
  background-color: transparent;
}

.modal__btn-close-icon {
  fill: #000000;
}

.modal-wrap {
  @include tablet {
    display: flex;
  }
}

.modal__poster {
  // width: 240px;
  // height: 357px;

  @include tablet {
    flex-shrink: 0;
    width: 270px;
    height: 405px;
  }

  @include desktop {
    width: 375px;
    height: 562px;
  }
}

.modal__poster-img {
  border-radius: 5px;

  @include tablet {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.modal__description {
  margin-top: 20px;

  @include tablet {
    margin-top: 0;
    margin-left: 65px;
  }

  @include desktop {
    margin-left: 16px;
  }
}

.modal__title {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.15;

  @include desktop {
    font-size: 30px;
    line-height: calc(35 / 30);
  }
}

.modal__info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 20px;

  @include desktop {
    margin-top: 30px;
  }
}

.modal__info-item {
  display: flex;
  color: #8c8c8c;
  font-size: 12px;
  line-height: calc(16 / 12);

  @include desktop {
    font-size: 16px;
  }
}

.modal__characteristic {
  flex-shrink: 0;
  min-width: 110px;

  @include desktop {
    min-width: 150px;
  }
}

.modal__value {
  color: #000000;
}

.original {
  text-transform: uppercase;
}

.modal__grade-accent {
  padding: 1px 10px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #ff6b01;
}

.modal__grade-usual {
  padding: 1px 4px;
  border-radius: 5px;
  color: #000000;
  background-color: #f7f7f7;
}

.modal__about {
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: calc(16 / 12);

  @include desktop {
    font-size: 16px;
    margin-top: 30px;
  }
}

.modal__about-description {
  margin-top: 8px;
  font-size: 12px;
  line-height: calc(20 / 12);

  @include desktop {
    font-size: 16px;
  }
}

.modal__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;

  @include tablet {
    margin-left: 65px;
    flex-direction: unset;
    justify-content: flex-start;
    align-items: flex-start;
  }

  @include desktop {
    margin-left: 16px;
    margin-top: 30px;
  }
}

.btn {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 44px;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);
  text-transform: uppercase;
  border-radius: 5px;
  border: 1px solid #000000;
  background-color: transparent;
  transition: color var(--time) var(--function),
    border-color var(--time) var(--function),
    background-color var(--time) var(--function);

  &:hover,
  &:focus {
    color: #fff;
    border-color: #ff6b01;
    background-color: #ff6b01;
  }

  @include tablet {
    width: 125px;
  }

  @include desktop {
    width: 136px;
  }
}
