.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  transition: opacity 250ms linear, visibility 300ms linear;
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 280px;
  background-color: #ffffff;
  transform: translate(-50% -50%), scale(1);
  transition: transform 1000ms linear;
  .backdrop.is-hidden & {
    transform: translate(-50% -50%), scale(0);
  }
  @media screen and (min-width: 480px) {
    min-width: 704px;
  }
  @media screen and (min-width: 1200px) {
    min-width: 806px;
  }
}

.modal__container {
  padding: 48px 20px 40px 20px;
  @media screen and (min-width: 768px) {
    padding: 40px 72px 40px 36px;
  }
  @media screen and (min-width: 1200px) {
    padding: 40px 12px;
  }
}

.modal__btn-close {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-top: 9px;
  margin-right: 9px;
  border: 1px solid transparent;
  background-color: transparent;
}

.modal__btn-close-icon {
  fill: #000000;
}

.modal__poster {
  min-width: 240px;
  min-height: 357px;
}
